@import '../../styles/main.scss';

.Wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(#{--card-background});
  border-radius: get-vw(8px);

  box-shadow: 0px get-vw(2px) get-vw(2px) var(#{--shadow-color}),
    0px get-vw(2px) get-vw(2px) var(#{--shadow-color}),
    0px get-vw(4px) get-vw(12px) var(#{--shadow-color});

  &_with-padding {
    padding: get-vw(30px);
  }
}
